html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-fixed-size {
    width: 100%;
    height: 200px; /* Puedes ajustar la altura según tus necesidades */
    object-fit: cover; /* Esto asegura que la imagen se recorte para llenar el área especificada */
}
